{
  "app": {
    "guid": "7dbb24a9-d019-4bc0-82fc-592bf5638117"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "N2RiYjI0YTktZDAxOS00YmMwLTgyZmMtNTkyYmY1NjM4MTE3",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}